$main-color: rgb(121, 34, 228);
$secondary-color: rgb(121, 34, 228, 0.1);
$light-color: rgb(251, 250, 255);

$light-grey: rgba(177, 177, 177, 0.717);
$red: #E53935;
$green: #4caf50;

$thin-border: 1px solid rgba(0, 0, 0, 0.15);
